.square {
  width: 30px;
  height: 30px;
  padding: 5px;
  outline: none;
  background-color: #ccc;
  box-shadow: inset 2px 2px 2px white;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 7px;
}

.clicked {
  background-color: #ddd;
  box-shadow: inset 2px 2px 2px #ccc;
}

.bomb {
  background-image: url(../../images/bomb.png);
  
}

.boom {
  background-color: red;
}
