.square {
  width: 30px;
  height: 30px;
  padding: 5px;
  outline: none;
  background-color: #ccc;
  box-shadow: inset 2px 2px 2px white;
}

.clicked {
  background-color: #ddd;
  box-shadow: inset 2px 2px 2px #ccc;
}
