.playground {
  margin: auto;
  position: relative;
  margin-bottom: 10px;
}

.playground-header {
  margin-bottom: 10px;
}

.status {
  background-image: url('./images/sun.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  outline: none;
}

.loading {
  margin: 10px;
}

.playing {
  background-position: 0 0;
}

.win {
  background-position: -60px 0;
}

.lose {
  background-position: -90px 0;
}

.elapsed-time {
  position: absolute;
  right: 0;
  line-height: 32px;
}
